body {
    background-color: white;

    animation-name: mainanim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes mainanim {
    0% {
        background-color: rgb(255, 0, 0);
    }

    25% {
        background-color: rgb(0, 255, 0);
    }

    50% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(125, 0, 0);
    }

    100% {
        background-color: rgb(255, 0, 0);;
    }
}